<li id="post-<%= post._id %>" >
<p>
    <% if (locals.user && locals.user.id == post.user.id){ %>
    <small>
        <!-- <%= locals.user.email %> -->
        <a class="delete-post-button"  href="/posts/destroy/<%= post.id %>" onclick="deletePost(`post-<%= post._id %>>a`)">X</a>
    </small>
    <% } %>
    <%= post.content %>
    <br>
    
    <small>
      By  <%= post.user.accountHolder %>
    </small>
    <!-- <small>
        <% if (locals.user) { %>
    <a href="/likes/togglelike/?id<%= post._id %>&type=Post" data-like="<%= post.likes.length %>" class="toggle-like-btn">
        <i class="fa-regular fa-thumbs-up likes-symbol" ></i> <%= post.likes.length %>
    </a>
    <% } else { %>
        <%= post.likes.length %>Likes
    <% } %>
    <br>
</small> -->
<small>
    <% if (locals.user){ %>
        <a class="toggle-like-button" data-likes="<%= post.likes.length %>" href="/likes/toggle/?id=<%=post._id%>&type=Post">
                <%= post.likes.length %> <i class="fa-solid fa-thumbs-up likes-symbol" ></i>
        </a>
    <% }else{ %>
        <%= post.likes.length %> Likes
    <% } %>
</small>

</p>
<div class="post-comments">
    <% if (locals.user){ %>
        <form action="/comments/create" method="POST" id="new-comment-form">
            <input type="text" name="content" placeholder="Type Here to add comment..." id="comment-add-text" required>
            <input type="hidden" name="post" value="<%= post._id %>" >
            <input type="submit" value="Add Comment">
        </form>

    <% } %>

    <div id="post-comments-list">
        <ul id="post-comments-<%= post._id %>">
            <% for (comment of post.comments){%>

                <%- include('_comment') -%>
                
            
            <%} %>
        </ul>
    </div>
</div>

</li>