<html>

<head>
    <title>
        <%= title %>
    </title>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"> -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> -->
     <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
   
    <%- style %>    
    
    <!-- to tell that body of file that uses this layout may contain style link add that here  -->
       <!-- to include this stylesheet link and script link need to iuse <%- style %> & <% script %> in layout  -->
</head>

<body>
    <%- include('_header'); %>
        
        <main id="layout-main">
        <%- body %>
    </main>

            <%- include('_footer'); %>
            

            <%- script %> 
    <!-- to tell that body of file that uses this layout may contain style link add that here  -->
</body>

</html>